extends layout

block content
  div(id='forkongithub')
    a(href='https://github.com/lucasbrinkers/blockchain-demo/', target='new', alt='Fork me on GitHub') Fork me on GitHub
  .container
    h1 #{__('Introduction')}
    br

    h3 #{__('cryptocurrency')}
    p #{__('cryptocurrency desc')}

    h3 transacties
    p De uitwisseling van tokens tussen gebruikers.

    h3 #{__('blockchain')}
    p #{__('blockchain desc')}

    h3 netwerk
    p De distributie van de blockchain en transactiegegevens


    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    div.pull-right #{__('Application by')} 
      a(href='http://andersbrownworth.com/') Anders Brownworth
    br
    div.pull-right #{__('Improvements by')} 
      a(href='https://github.com/lucasbrinkers/') Lucas Brinkers
    br
    div.pull-right #{__('Favicon by ')} afif fudin  
      a(href='https://www.flaticon.com/free-icons/tetris') Flaticon
